name: Deploy to Azure App Service

on:
  push:
    branches:
      - main # O la rama que uses

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout c칩digo
        uses: actions/checkout@v3

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20 # Cambia si usas otra versi칩n

      - name: Instalar dependencias
        run: npm install

      - name: Login en Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy a App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: "portafolioback" # Reemplaza con el nombre de tu App Service
          package: "." # 游릭 Sube todo el c칩digo al App Service
